-r requirements.txt
bandit >= 1.7.0
black >= 21.4b2
coverage >= 5.5
flake8 >= 3.9.2
pylint >= 2.8.2
pytest >= 6.2.4
pytest-cov >= 2.11.1
requests-mock[fixture] == 1.10.0
sphinx >= 3.5.4
sphinx_rtd_theme